* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 35%;
  margin: 10px auto;
}

label {
  display: inline;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

hr {
  border-color: #FCFCFC;
  display: block;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

section {
  width: 100%;
  display: table;
}

table {
  border-collapse: collapse;
  width: 300px;
  margin: 10px auto;
}

th, td {
  padding: 8px;
  color: #4F4F4F;
}

tr {
  width: 100%
}

tr:nth-child(even) {
  background-color: #E7E7E7;
}

tr:nth-child(odd) {
  background-color: #F2F2F2;
}

tr.table_title_style {
  background-color: #C0C0C0;
}

tr.subtitle_style {
  background-color: #CACACA;
  text-align: center;
}

tr.subtitle2_style {
  background-color: #CDCDCD;
  color: #4F4F4F;
  font-size: 13px;
}


.container_tables {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.home_body_style {
  background-color: #FAFAFA;
}
.no_padding {
  display: table-cell;
  height: 100vh;
  padding: 16px;
  vertical-align: top;
}
