* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  background-color: #eff7f7;
}

.weekmentor_table_style, .weekworkshop_table_style {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
  margin: 10px;
}

.weekmentor_table_style th, .weekworkshop_table_style th {
  padding: 8px;
  text-align: left;
  background-color: #67b5ba;
  color: white;
}

.weekmentor_table_style td, .weekworkshop_table_style td {
  border: 1px solid #d2e2e0;
  padding: 8px;
}

.weekmentor_table_style tr, .weekworkshop_table_style tr {
  width: 100%
}

.weekmentor_table_style tr:nth-child(even), .weekworkshop_table_style tr:nth-child(even) {
  background-color: #d2e2e0;
}

tr.table_title_style {
  background-color: #67b5ba;
}

tr.subtitle_style {
  background-color: #9ad6da;
  text-align: center;
}

tr.subtitle2_style {
  background-color: #c1e4e7;
  color: #4F4F4F;
  font-size: 13px;
}

.container_tables {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.home {
  width: 70%;
  margin-left: 40px;
}
