* {
  padding: 0px;
  margin: 0px;
}

main {
  display: flex;
  background-color: #eff7f7;
}

.contaner_user_profile_style hr {
  border-color: #FCFCFC;
  display: block;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.student_photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.divs_style {
  vertical-align: top;
  width: 90%;
  padding: 10px;
  margin: 0 20px;
}

.manage_style {
  width: 70%;
  margin: 30px 40px 0 40px;;
  background-color: #eff7f7;
}

.contaner_user_profile_style {
  margin: 10px 0;
  width: 100%;
  height: 40px;
}

.img_name_style {
  float: left;
}

.contaner_user_profile_style button[name='profile'] {
  margin: 3px;
  background-color: #67b5ba;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-weight: bold;
}

.contaner_user_profile_style button[name='profile']:hover {
  background-color: #4e8b8f;
  color: white;
  border: 2px solid #4e8b8f;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.contaner_user_profile_style button[name='delete'] {
  margin: 3px;
  background-color: #ec4141;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-weight: bold;
}

.contaner_user_profile_style button[name='delete']:hover {
  background-color: #ec4141;
  color: white;
  border: 2px solid #ba2d2d;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.float_buttons_style {
  float: right;
}

.user_name_style {
  line-height: 30px;
  height: 30px;
  vertical-align: top;
  color: #4F4F4F;
}

.label_title_style {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 15px;
}

.FACG4_Students {
  font-size: 25px;
  color: #45758c;
  display: block;
  text-align: center;
  font-weight: bold;
}
