main {
  display: flex;
  background-color: #eff7f7;
}

.container_add_feedback_style {
  width: 70%;
  margin: 0 auto;
}

.container_table_style {
  margin: 0 auto;
  padding: 20px;
  width: 70%;
}

.text_feedback_style {
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: 10px;
  width: 500px;
}

.add_feedback_style {
  background-color: #67b5ba;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  vertical-align: top;
  margin-top: 10px;
  width: 100px;
}

.add_feedback_style:hover {
  background-color: #4e8b8f;
}

.container_table_style table {
  border-collapse: collapse;
  margin: 0 auto;
}

.container_table_style td {
  border: 1px solid #d2e2e0;
  padding: 8px;
}

.container_table_style tr:nth-child(even) {
  background-color: #d2e2e0;
}

.container_table_style th {
  padding: 8px;
  text-align: center;
  background-color: #67b5ba;
  color: white;
}

.date_width {
  text-align: center;
  width: 100px;
}

.divnone {
  display: none;
}
