* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  background-color: #eff7f7;
}

.profiledivs_style {
text-align: center;
}

.profile_bio_style {
  text-align: center;
  font-size: 20px;
  color: #000000;
  width: 100%;
  padding: 10px;
}

.profile_email_style {
  text-align: center;
  font-size: 16px;
  color: #535050;
  width: 100%;
  padding: 10px;
}

.profile_phone_style {
  text-align: center;
  font-size: 16px;
  color: #1b8679;
  width: 100%;
  padding: 10px;
}
