main {
  display: flex;
  background-color: #eff7f7;
}

.suggestion_style {
  width: 70%;
  margin-left: 40px;
  background-color: #eff7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestion_table_style , .complaint_table_style {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
}

.suggestion_table_style th, .complaint_table_style th {
  padding: 8px;
  text-align: center;
  background-color: #67b5ba;
  color: white;
  column-span: 2;
}
 .suggestion_table_style td , .complaint_table_style td {
   border: 1px solid #d2e2e0;
   padding: 8px;
 }
.suggestion_table_style tr, .complaint_table_style tr {
  width: 100%
}

 .suggestion_table_style tr:nth-child(even), .complaint_table_style tr:nth-child(even) {
   background-color: #d2e2e0;
}

.suggestionDiv , .complaintDiv{
  margin: 20px;
  width: 100%;
}
