<h1>Invite by email</h1>
<form action="/invitebygmail" method="POST">
  <label for="Email">enter student email</label>
  <input type="email" name="studentEmail" id="Email">
  <input type="submit" value="Invite">
</form>