{{>asidebar}}
<div class="invite_style">
  <h1>Invite a student by Email</h1>

  <form class="invite-by-email" action="/invitebygmail" method="POST">
    <input class="email_input_style" type="email" name="studentEmail" id="Email" placeholder="Enter student email" required>
    <input class="invite_btn_style" type="submit" value="Invite">
  </form>

  <h2>Unregistered students</h2>
  <ul class="unregistered-emails">
    {{#each emails}}
      <li>
        <span>{{this.email}}</span>
        <button class="delete_btn_style" id="{{this.id}}" type="button" name="delete">Delete</button>
      </li>
    {{/each}}
  </ul>
</div>
