<div class="inner-div">
  <h1 class="welcome_style">Welcome !</h1>
  <p class="par_style">Lorem ipsum dolor sit elit. Obcaecati sapiente blanditiis voluptatum aperiam laudantium asperiores pariatur mollitia provident deleniti nihil nam veritatis nisi, praesentium magni rem! Vel sequi perferendis eligendi.</p>
  <a href="/github" class="git btn">
    <i class="fab fa-github gitt"></i>
    <div class="login">Login with Github</div>
  </a>
</div>
