<div class="inner-div">
  <h1 class="welcome_style">Welcome !</h1>
  <p class="par_style">Whether you're writing your first line of code or transforming your career, start with us and get the technical skills you
  need to skill up and stand out.</p>
  <a href="/github" class="git btn">
    <i class="fab fa-github gitt"></i>
    <div class="login">Login with Github</div>
  </a>
</div>
