<section class="home_body_style">
  <div class="container_avatar_sidenavbar_style">
    <img id="cf_avatar" class="cf_avatar_style" src="/images/cf_avatar.png" alt="cf avatar">
    <div class="name_cohort_style">
      <label for="cf_name">WELCOME Ahmed Ajour</label>
      <label for="cohort_name">FACG4</label>
    </div>

    <div class="container_sidenavbar_style">
      <div class="item_sidenav_style">Home</div>
      <hr>
      <div class="item_sidenav_style">Take attendance</div>
      <hr>
      <div id="reports" class="item_sidenav_style">Reports <i class="icon fa fa-sort-down"></i>
        <div class="disable">
          <hr>
          <div>
            <a class="item_sidenav_style" href="/weeklyReport">Weekly report</a>
          </div>
          <hr>
          <div>
            <a class="item_sidenav_style" href="/monthlyReport">Monthly report</a>
          </div>
        </div>
      </div>
      <hr>
      <div id="students" class="item_sidenav_style">Students <i class="icon fa fa-sort-down"></i>
        <div class="disable1">
          <hr>
          <div>
            <a class="item_sidenav_style" href="/manageSt">Manage students</a>
          </div>
          <hr>
          <div>
            <a class="item_sidenav_style" href="/inviteSt">Invite a student</a>
          </div>
        </div>
      </div>
      <hr>
      <div class="item_sidenav_style">Cirriculum</div>
      <hr>
      <div class="item_sidenav_style">Complaints and suggestions</div>
    </div>

  </div>
  <div class="container">
    <label for="FACG4_Students">FACG4 Students</label>
    <div class="divs_style">
      {{#each names}}
      {{#if this.first_name}}
      {{#if this.last_name}}
      <div class="contaner_user_profile_style">
        <div class="img_name_style">
          <img id="cf_avatar" src="/images/cf_avatar.png" alt="cf avatar">
          <label for="user_name_style" class="user_name_style">{{this.first_name}}  {{this.last_name}}</label>
        </div>
        <div id="{{this.id}}" class="float_buttons_style">
          <button type="button" name="profile">View profile</button>
          <button type="button" name="delete">Delete</button>
        </div>
        <hr>
      </div>
      {{/if}}
      {{/if}}
      {{/each}}
    </div>
  </div>
</section>
