
<div class="container">

    <img src="../images/found.png" alt="founder" >


<h1>YOU ARE NOT INVITED FOR THE GAZA CODE ACADEMY!</h1>
<p>
    The Gaza Code Academy, a joint project of Gaza Sky Geeks and Founders & Coders International. An intensive 16 week course, plus 8 weeks of project-based learning.
 Participants graduate as full-stack developers who can deploy production grade software online.<p>


<form action="https://gazaskygeeks.com/code-academy/">
<button class="button">APPLY FOR THE GAZA CODE ACADEMY!</button>
</form>

      <a class="item_sidenav_style" href="/logout">Logout</a>


</div>
