<section>
  <div class="container_add_feedback_style">
    <textarea class="text_feedback_style" name="addFeedback" rows="8" cols="80" placeholder="Post feedback"></textarea>
    <button class="add_feedback_style" type="submit" name="button">Send</button>
  </div>
  <table>
    <tr>
      <th>1</th>
      <th>2</th>
    </tr>
    <tr>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>5</td>
      <td>6</td>
    </tr>
  </table>
</section>
