<div class="container_add_feedback_style">
  <form>
    <textarea class="text_feedback_style" name="addFeedback" rows="8" cols="80" placeholder="Post feedback"></textarea>
    <button class="add_feedback_style" type="submit" name="button">Send</button>
  </form>
</div>
<div class="container_table_style">
  <table>
    <tr>
      <th colspan="2">Feedback</th>
    </tr>
    {{#each feedback}}
      <tr>
        <td>{{this.content}}</td>
        <td class="date_width">{{this.date}}</td>
      </tr>
    {{/each}}
  </table>
</div>
<div class="divnone">
  {{user_id}}
</div>
