<div class="container">
<h1>Welcome ! {{name}}</h1>
<img src="{{avatar}}" alt="face" > 
<p>This page Under development</p>


  <form action="/logout">
<button class="button">Log Out</button>
</form>

</div>