<div class="profiledivs_style">
    <section class="profile_info_style">
      <p class="profile_bio_style">{{info.bio}}</p>
      <p class="profile_email_style">{{info.email}}</p>
      <p class="profile_phone_style">{{info.phone}}</p>
    </section>
</div>
