<div class="container_avatar_sidenavbar_style">

  <img id="cf_avatar" class="cf_avatar_style" src="/images/cf_avatar.png" alt="cf avatar">
  <div class="name_cohort_style">
    <label for="cf_name">WELCOME Ahmed Ajour</label>
    <label for="cohort_name">FACG4</label>
  </div>
  <div class="container_sidenavbar_style">
    <a class="item_sidenav_style" href="/">Home</a>
    <hr>
    <div class="item_sidenav_style"><a href="/attendance">Take attendance</a>
    </div>
    <hr>
    <div id="reports" class="item_sidenav_style">Reports
      <i class="icon fa fa-sort-down"></i>
      <div class="disable">
        <hr>
        <div>
          <a class="item_sidenav_style" href="/weeklyReport">Weekly report</a>
        </div>
        <hr>
        <div>
          <a class="item_sidenav_style" href="/monthlyReport">Monthly report</a>
        </div>
      </div>
    </div>
    <hr>
    <div id="students" class="item_sidenav_style">Students
      <i class="icon fa fa-sort-down"></i>
      <div class="disable1">
        <hr>
        <div>
          <a class="item_sidenav_style" href="/manageSt">Manage students</a>
        </div>
        <hr>
        <div>
          <a class="item_sidenav_style" href="/inviteSt">Invite a student</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="item_sidenav_style">Cirriculum</div>
    <hr>
    <div class="item_sidenav_style">Complaints and suggestions</div>
    <hr>
    <div><a class="item_sidenav_style" href="/logout">Logout</a></div>
  </div>
</div>
