<!-- <footer class="footer">
  <hr class="no_style">
  <section class="top-footer">
    <div class="container-footer-style">
      <img class="logo-style" src="/images/logo.jpeg" alt="logo">
      <div class="styling-for-div">
        <div class="social-icons">
          <a class="icon-footer-style" href="https://www.facebook.com/GazaSkyGeeks/">
            <i class="icon-style fab fa-facebook"></i>
          </a>
          <a class="icon-footer-style" href="https://twitter.com/gazaskygeeks?lang=ar">
            <i class="icon-style fab fa-twitter-square"></i>
          </a>

        </div>
        <div class="contact-icons">
          <a class="icon-footer-style" href="#">
            <i class="icon-style fas fa-map-marker-alt"></i>
            <p class="address">Palestine,&nbsp;Gaza City,
              <br> &nbsp;Al Sina'a crossing,
              <br> &nbsp;Almotaz 3 Building</p>
          </a>
          <a class="icon-footer-style" href="#">
            <i class="icon-style fas fa-phone"></i>
            <p class="phone-no">+970 594 100 319</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="bottom-footer">
    <small>&copy; 2018 All Rights Reserved</small>
  </section>
</footer> -->
