<footer class="footer">
  <section class="top-footer">
    <div class="container_footer_style">
      <img class="logo_style" src="/images/logo.jpeg" alt="logo">

      <a class="icon_footer_style" href="#"><i class="fab fa-facebook"></i></a>
      <a class="icon_footer_style" href="#"><i class="fab fa-twitter-square"></i></a>
      <a class="icon_footer_style" href="#"><i class="fas fa-phone"></i></a>
      <a class="icon_footer_style" href="#"><i class="fas fa-map-marker-alt"></i></a>
    </div>

  </section>
  <section class="bottom-footer">
    <small>&copy; 2018 All Rights Reserved</small>
  </section>
</footer>
<!-- <section>
  <div class="footer">

      <br>
      <div class="logo_style">
      </div>
      <br>
      <br>
      <p>© Copyright All Rights Reversed</p>
    </div>

</section> -->
