<footer class="footer">
  <section class="top-footer">
    <img src="/images/logo.png" alt="logo">
    <ul class="contact">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
      <li><a href="#"><i class="fas fa-phone"></i></a></li>
      <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
    </ul>
  </section>
  <section class="bottom-footer">
    <small>&copy; 2018 All Rights Reserved</small>
  </section>
</footer>
<!-- <section>
  <div class="footer">

      <br>
      <div class="logo_style">
      </div>
      <br>
      <br>
      <p>© Copyright All Rights Reversed</p>
    </div>

</section> -->
