<footer class="footer">
  <section class="top_footer">
    <div class="container_footer_style">
      <img class="logo_style" src="/images/logo.jpeg" alt="logo">
      <div class="styling_for_div">
        <div class="first_icons">
          <a class="icon_footer_style" href="https://www.facebook.com/GazaSkyGeeks/"><i class="icon_style fab fa-facebook"></i></a>
          <a class="icon_footer_style" href="https://twitter.com/gazaskygeeks?lang=ar"><i class="icon_style fab fa-twitter-square"></i></a>
        </div>
        <div class="second_icons">
          <a class="icon_footer_style" href="#">
            <p><i class="icon_style fas fa-map-marker-alt"></i> Palestine,&nbsp;Gaza City,<br> &nbsp;Al Sina'a crossing,<br> &nbsp;Almotaz 3 Building</p>
          </a>
          <a class="icon_footer_style" href="#">
            <p><i class="icon_style fas fa-phone"></i> +970 594 100 319</p>
          </a>
        </div>
      </div>
    </div>

  </section>
  <section class="bottom_footer">
    <small>&copy; 2018 All Rights Reserved</small>
  </section>
</footer>
