<ul class="student_nav_style">
  <li><a class="item_sidenav_style" name="info">Info</a></li>
  <hr>
  <li><a class="item_sidenav_style" href="/feedback/{{info.id}}" name="Feedback">Feedback</a></li>
  <hr>
  <li><a class="item_sidenav_style" href="/red_flags/{{info.id}}" name="RedFlags">Red Flags</a></li>
  <hr>
  <li><a class="item_sidenav_style" href="/manageSt">Back to students</a></li>
  <hr>
</ul>
<div>

</div>
